body {
  background: $white;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.mobile-only {
  @include bp(desktop){
    display: none !important;
  }
}

header {
  background: #67ea94;
  nav {
    .branding {
      img {
      }
    }
  }
  .navigation {
    .nav-container {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
  }
  .socials {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    >div {
      line-height: 1;
      margin-top: 0.75em;
      margin-left: 0.25em;
      margin-right: 0.25em;
      &:before {
        line-height: 1;
      }
    }
  }

}

nav.navigation {
  background: $black;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    a {
      display: block;
      padding: 0.5em;
    }
  }
}

div[class*="dashicons-"] {
  font-family: "Dashicons";
}

footer {
  padding: 50px 0;
  a {
    &:hover {
      text-shadow: none;
    }
  }
  div.footer-nav {
    nav.footer-nav {
      ul {
        justify-content: center;
      }
    }
  }
  .socials {
    display: flex;
    flex-flow: row;
    justify-content: center;
    > div {
      margin: 0 0.25em;
    }
  }
}

